.character-container{
  margin-top: 2%;
  padding: 2%;
  border: solid 3px #3dff00;
}

.heading{
    color: #3dff00;
    text-decoration: underline;
    cursor: pointer;
}

.list-detail{
  border-bottom: solid 1px #fd7126;
  padding: 10px;
}
.detail-key{
  color: #fd7e14;
}

.detail-value{
  color: #3dff00;
}
